/*General*/

/*Main Colours:   #0CCFFF (Strong blue) #EEFFFF (Pastel blue) */
/*CSS reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Roboto, Arial;
}
h1{
  text-align: center;
  margin: 1%;
  font-size: 3em;
}
h2{
  text-align: center;
  margin: 1%;
  font-size: 2em;
}
p {
  margin: 1%;
  font-size: 1.4em;
}
button{
  text-align: center;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  border: 2px solid #0CCFFF;
  font-size: 1.4em;
  padding: 1%;
  margin: 1%;
}
a{
  text-decoration: none;
    color: inherit;
    
}
/*Header*/

/*Navigation Bar*/

#mobileMain {
  display: none;
}

#main {
  width: 100%;
  height: auto;
}

#video{
    width: 100%;
    height: auto;
}

#home{
    float: left;
    width: auto;
    padding-left: 1%;
}

nav ul {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 40px;
  line-height: 40px;
  list-style: none;
  width: 100%;
  text-align: center;
}

nav li {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 40px;
  height: 40px;
  width: 12%;
  overflow: hidden;
  padding-right: 0%;
  text-align: center;
  display: inline-block;
}

nav a,
#dropbtn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

nav a:hover,
.dropdown:hover #dropbtn {
  color: #0CCFFF;
  cursor: pointer;
}

.active a{
  color: #0CCFFF;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0CCFFF;
  width: inherit;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #EEFFFF;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Logo*/

/*Who*/

#who{
    width: 100%;
    height: auto;
    padding-bottom: 1%;
    background-color: #0CCFFF;
    color: #fff;
}
#imageFeed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 60%;
    margin: auto;
}
.feed{
    width: 100%;
    height: auto;
    margin: auto;
}

/*What*/

#what{
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #000;
}
.examples{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border: 2px solid #0CCFFF;
}
.visuals{
    width: inherit;
    margin: auto;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.portfolioLinks{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s ease;
}
.examples:hover .visuals{
    opacity: 0.3;
}
.examples:hover .title{
    opacity: 1;
}
.examples:hover .portfolioLinks{
    opacity: 1;
}
/*Why*/

#why{
    width: 100%;
    height: auto;
    background-color: #0CCFFF;
    color: #fff;
}
#download{
    display: block;
    margin: auto;
}
/*Back*/
#returnul{
    position: fixed;
    top: 48px;
}
#returna{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10%;
    border-radius: 0 3px 3px 0;
}
#returnli{
    line-height: 1.3em;
    font-size: 1.3em;
    color: #fff;
}
#returna:hover{
    color: #0CCFFF;
}
/*Screenshots*/
#screenshotContainer{
    margin-top: 2%;
}
#screenshot1{
    width: 60%;
    display: block;
    margin: auto;
}
#caption1{
    width: 60%;
    height: auto;
    text-align: justify;
    display: block;
    margin: auto;
}
#link{
    text-decoration: underline;
    color: #0CCFFF;
}
/*Slideshow*/
#slideshowContainer{
    margin-top: 2%;    
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    color: #0CCFFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 38%;
}
.prev {
    left: 38%;
}
.slides{
    display: block;
    margin: auto;
    height: 600px;
}
.tables{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}
/*Footer*/

footer {
  width: 100%;
  height: 170px;
  background-color: #EEFFFF;
  color: #0CCFFF;
  margin-top: 1%;
  padding-top: 1%;
}

footer ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding-left: 0%;
}

footer li {
  line-height: 40px;
  height: 40px;
  width: 16%;
  display: inline-block;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  color: #0CCFFF;
  font-size: 1em;
}

footer a:hover {
  cursor: pointer;
  color: black;
}

/*Social Media Buttons*/

div.fa-facebook-f {
  float: right;
  margin: 0px 10px;
  width: 3%;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4em;
}

div.fa-facebook-f:hover {
  color: black;
  cursor: pointer;
}

div.fa-twitter {
  float: right;
  margin: 0px 10px;
  width: 3%;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4em;
}

div.fa-twitter:hover {
  color: black;
  cursor: pointer;
}

div.fa-instagram {
  float: right;
  margin: 0px 10px;
  width: 3%;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4em;
}

div.fa-instagram:hover {
  color: black;
  cursor: pointer;
}

div.fa-youtube {
  float: right;
  margin: 0px 10px;
  width: 3%;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4em;
}

div.fa-youtube:hover {
  color: black;
  cursor: pointer;
}

/*Page One*/

/*Page Two*/

/*Page Three*/

/*Page Four*/

/*Page Five*/

/*404 Page*/

@media only screen and (max-width: 770px) {

p {
    font-size: 1.2em;
}    
/*Navigation Bar*/
    
#main {
    display: none;
}
#hamburger {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1%;
    height: 40px;
}
#mobileMain {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #0CCFFF;
}
#main a:hover,
.dropdown:hover #dropbtn {
    color: black;
    cursor: pointer;
}
#mobileDropDown:hover {
    background-color: transparent;
}
.dropdown-content {
    right: 0;
    top: 40px;
    width: 100%;
}
/*Logo*/

/*Footer*/
    
footer li {
    width: 15%;
}
footer a {
    font-size: 0.7em;
}
div.fa-facebook-f {
    font-size: 1em;
}
div.fa-twitter {
    font-size: 1em;
}
div.fa-instagram {
    font-size: 1em;
}
div.fa-youtube {
    font-size: 1em;
}
/*Page One*/

/*Page Two*/
 
/*Page Three*/

/*Page Four*/
 
/*Page Five*/
 
}