/*General*/
    /*green = #19BD75   rgba(25,189,117,0.3)  */
body{
    background-color: ;
}
/*css code imported from: http://danielstern.ca/range.css/#/  */
/*input[type=range]*/
input[type=range] {
      -webkit-appearance: none;
      width: 35%;
      margin: 5px 0;
      vertical-align: middle;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #b0e0e6;
      border-radius: 3px;
      border: 0px solid #010101;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 12px;
      width: 13px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #c3e8ec;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #b0e0e6;
      border-radius: 3px;
      border: 0px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 12px;
      width: 13px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #9dd8e0;
      border: 0px solid #010101;
      border-radius: 6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-fill-upper {
      background: #b0e0e6;
      border: 0px solid #010101;
      border-radius: 6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 12px;
      width: 13px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
      height: 2px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #b0e0e6;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #c3e8ec;
    }

/*page one*/
#containerHead{
    width:100%;
    height:40px;
    background-color: #19BD75;
}
    /*header*/
#title{
        float: left;
        width:5%;
        padding-left: 1%;
        color: #fff;
        line-height: 38.5px;
        font-size: 2em;
        font-family: 'Calibri', sans-serif;
}
#title:hover{
        color: black;
        cursor: pointer;
}
    div.fa-shopping-cart{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-size: 1.4em;
    }
    div.fa-shopping-cart:hover{
        color: black;
        cursor: pointer;
    }
    div.fa-cog{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-size: 1.4em;
    }
    div.fa-cog:hover{
        color: black;
        cursor: pointer;
    }
    
/*nav*/
nav{
    height: 40px;
    line-height: 40px;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 15%;
}
nav li{
    font-family: 'Calibri', sans-serif;
    font-size: 1.3em;
    line-height: 40px;
    height: 40px;
    width: 10%;
    overflow: hidden;
    padding-right: 1%;
    text-align: center;
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    color: black;
    cursor: pointer;
}
 #logo{
    display: block;
    margin: auto;
    width: auto;
    height:auto;
    padding-left: 1%;
    }
#containerSlide{
    width:100%;
    height:450px;
    border-style:solid;
    border-color:powderblue;
}
#containerArt{
    width:100%;
    height:255px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#containerArtL{
    width: 99%;
    height: auto;
    display: block;
    float: left;
    border-style: solid;    
    border-color: red;
}
#containerArtC{
    width: 99%;
    height: auto;
    display: block;
    float: left;
    border-style: solid;
    border-color: purple;
}
#containerArtR{
    width:99%;
    height: auto;
    display: block;
    float: left;
    border-style:solid;
    border-color:green;
}
#containerA{
    width:100%;
    height:800px;
    border-style:solid;
    border-color:powderblue;
}
#myvideo{
    display: block;
    margin: auto;
    width: 70%;
    height:auto;
}
#containerBttn{
    width: 100%;
    height: auto;
}
footer{
    width:100%;
    height:200px;
    background-color: #DEDEDE;
    color: #19BD75;
}
#title2{
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}
#title2:hover{
    cursor: pointer;
    color: black;
}
footer ul{
    list-style: none;
    display:block;
    float:left;
    font-family: 'Calibri', sans-serif;
    width: 25%;
}
footer a{
    text-decoration: none;
    color: #19BD75;
    font-size: 1em;
}
footer a:hover{
    cursor: pointer;
    color: black;
}
div.fa-facebook-f{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.4em;
}
    div.fa-facebook-f:hover{
        color: black;
        cursor: pointer;
}
div.fa-twitter{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.4em;
}
    div.fa-twitter:hover{
        color: black;
        cursor: pointer;
}
div.fa-instagram{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.4em;
}
    div.fa-instagram:hover{
        color: black;
        cursor: pointer;
}
div.fa-youtube{
        float: right;
        margin:0px 10px;
        width: 3%;
        height: auto;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.4em;
}
    div.fa-youtube:hover{
        color: black;
        cursor: pointer;
}
#email{
    width: 10%;
    float:right;
    padding: 0.5%;
    background-color: #19BD75;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
#email::placeholder{
    color: black;
}
#subscribe{
    float:right;
    padding:0.5%;
    margin-right:1%;
    background-color: black;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}
#subscribe:hover{
    cursor: pointer;
}
#signature{
    float: right;
    margin-right: 1%;
    font-family: 'Calibri', sans-serif;
}